@font-face {
    font-family: 'my_underwoodregular';
    src: url('MyUnderwood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

pre {
    background: none;
}

code {
    font-family: 'my_underwoodregular', sans-serif;
    color: black;
    text-transform: lowercase;
    font-size: medium;
    background: whitesmoke;
}

.social-icons {
    padding: 12px 0
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px
}

.social-icons a svg {
    height: 26px;
    width: 26px
}
